@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @apply text-sm;
  @apply text-gray-900;
  @apply bg-lightgray;
  @apply font-sans;
  scroll-behavior: smooth;
}

article h2 {
  @apply text-xl;
  @apply font-bold;
  @apply text-dark;
  padding-top: 20px;
  padding-bottom: 10px;
}

article p {
  padding-bottom: 10px;
  @apply font-light;
}
article a {
  @apply font-bold;
  @apply text-secondary;
  @apply underline;
}
article a:hover {
  @apply text-dark;
  @apply no-underline;
}
article .adsInline .band {
    position: relative;
    display: flex;
    height: 1.6rem;
    margin-bottom: 1rem;
}
article .adsInline .band span {
    position: relative;
    flex: 1;
    @apply text-sm;
    display: inline-block;
    @apply text-center;
    @apply text-midgray;
    padding: 0 1rem;
    z-index: 1;
}
article .adsInline .band:before, article .adsInline .band:after {
    content: "";
    flex: 2;
    margin: .7rem auto;
    @apply border-t;
    @apply border-midgray;
}
.ql-container {
  font-family: 'Dosis', sans-serif;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow .ql-editor {
  min-height: 120px;
  transition: all ease-in 0.1s 0s;
  @apply text-base;
  @apply font-sans;
}
/* .ql-toolbar.ql-snow + .ql-container.ql-snow .ql-editor:focus {
  min-height: 150px;
} */
.ql-editor ol, .ql-editor ul {
  padding-left: 0;
}
.commentSection .ql-container.ql-snow {
    @apply border-midgray;
}
.commentSection .ql-toolbar.ql-snow {
    @apply border-midgray;
    @apply font-sans;
}
@media screen and (min-width: 640px) {
  html {

  }
}

@media screen and (min-width: 768px) {
  html {

  }
}